
@media screen and (min-width: 320px) {
    .container {
        max-width: 428px;
        width: 100%;
        margin-left: auto;
            margin-right: auto;
       
    }

    .header-page>.container {
        justify-content: space-between;
        align-items: center;
    }

    .header-lists, .header-info {
        display:none;
    }
/* ========================HEDER====================== */
    .heder-burger {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;

            
    }

    .icon-burger{
        stroke: #2E2F42;

    }
/*=========================HERO ======================*/
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/img/hero-mob.jpg);
    }
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img/hero-mob2x.jpg);
    }
}
    .hero-title {
        font-size: 36px;
        line-height: 1.1;
        max-width: 320px;
        margin-bottom: 72px;
    }
/* ==========================SECTIO TWO================ */
    .direction {
        padding: 96px 0;
    }

    .direction-section{
        display: none;
    }

    .direction-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }

    .direction-direction {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        color: var(--accent-text-color);
        text-align: center;
    }

    .direction-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }

    .work{
        display: none;
    }
/* ===========================SECTION FOUR============= */
    .tem{
        padding-top: 96px;
        padding-bottom: 128px;
    }
/* ===========================SECTION FIVE============= */
    .customers {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .customers-list{
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 72px;
        column-gap: 16px;
    }

    .customers-item {
        width: 190px;
    }

/* ===========================FOOETR============= */
    .footer-cont {
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        row-gap: 72px;
    }

    .footer-link {
        justify-content: center;
        align-items: center;
    }

    .footer-soc{
        align-items: center;
        justify-content: center;
    }

    .footer-soc-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        justify-content: center;
        align-items: center;

    }
    .footer-soc-subscribe{
        justify-content: center;
        align-items: center;
    }

    .subscribe-wrap{
        flex-direction: column;
    }

    .subscribe-input{
        /* width: 396px; */
        margin-bottom: 24px;
    }
    
}    
@media screen and (min-width: 320px) and (max-width: 479px){
/*================modal================= */
    .modality {
        width: 95%;
        height: 95%;
        padding: 14px 15px 10px;
        min-height:460px;
        
    }

    .modality-close{
        margin-bottom: 12px;
    }

    .modal-title {
        margin-bottom: 6px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }

    .input-text {
        font-size: 10px;
        line-height: 1.1;
    }

    .modal-input {
        height: 20px;
    }

    .input-icon{
        width: 12px;
        height: 16px;
    }

    .modal-comment{
        height:50px;
        font-size: 10px;
        line-height: 1.1;
    }
    .modal-field{
        margin-bottom: 4px;
    }
    .check-text{
        font-size: 10px;
        line-height: 1.1;
        margin-bottom: 5px;
    }

     .button-send{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        padding: 8px 16px;
    }

    .backdrop > .modality{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
/*==========meny-burger ==================*/
   
    .mob-meny{
        padding: 20px 0 20px 0;
    }

    .mob-meny-list{
        gap: 12px;
    }

    .mob-meny-item{
        font-size: 20px;
        line-height: 1.2;
    }

    .mob-meny-tel{
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .mob-meny-mail {
        font-size: 16px;
        line-height: 1.2;
        color: #434455;
    }

    .mob-meny-soc-listm {
        margin-top: 14px;
        gap: 30px;
    }

    .mob-meny-soc-item {
        width: 30px;
        height: 30px;
    }
    .mob-meny-soc-icon{
        width: 15px;
        height: 15px;
    }
}

